.menu{
    border:10px solid rgb(210, 30, 99);
    width: 400px;
    min-height: 220px;
    max-height: auto;

    margin-top: 50px;
    border-radius: 15px 50px;
    background-color: darkolivegreen;
}
.menu1{
    border:10px solid rgba(0, 128, 49, 0.623);
    width: 400px;
    min-height: 220px;
    max-height: auto;
    margin-top: 50px;
    border-radius: 50px 15px;
    background-color: chocolate;
}
th:hover{
    background-color: saddlebrown;
    color: whitesmoke;
    
}

tr th{
    border:none;
    text-align: center;
}
.glyphicon{
    margin-top: 150px;
    right: -60px;
 color: gray;
    font-size: 40px;
}
