<body><br>
<!-- <input class="search" type="text">
 <a href="#" class="myButton searchButton">Search</a> -->
 

 <li class="right" style="border: 1px solid #fff;line-height: 2rem;display: flex;margin-top: 15px;margin-right: 100px;">
					<span style="display: inline-block;"><a routerLink="/register">Sign up</a></span> | <span style="display: inline-block;"><a class="" routerLink="/login">Log in</a></span>
				</li>
  
  

 <p class="book">SELF RIDE BIKE RENTALS</p>
<marquee direction="right"  ><img src="../assets/img/bike.png" width="80"></marquee>
 <div class="search-bar">
   <h3 class="white">Book Your Bike</h3>
   <div class="container thidivcss ">
     <div class="col-md-3 col-sm-12 col-lg-3">
     <input id="pickup-date-desk" type="text" placeholder="Pick up date" class="inputfield" name="pickup" autocomplete="off" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="pickup-date-desk_root">
   </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
     <input id="pickup-date-desk" type="text" placeholder="Time" class="inputfield" name="time" >
   </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
     <input id="pickup-date-desk" type="text" placeholder="Drop date" class="inputfield" name="pickup" autocomplete="off" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="pickup-date-desk_root">
   </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
     <input id="pickup-date-desk" type="text" placeholder="Time" class="inputfield" name="time" >
   </div>
    <button class="btn searchButton">Search</button> 
   </div>
  
 </div>


</body>